@page "/deletedrug/{Id}"
@using MedHub.UI.Pages.Models;
@inject HttpClient Http
@inject NavigationManager NavigationManager
@inject IJSRuntime JsRuntime

<h2>Delete Drug</h2>
@if (drug != null)
{
    <p>Are you sure you want to delete this drug ?</p>
}
<div class="row">
        <table class="table table-light">
        <tr>
            <td>Name</td>
            <td>@drug.Name</td>
        </tr>
        <tr>
            <td>Description</td>
            <td>@drug.Description</td>
        </tr>
        <tr>
            <td>Price</td>
            <td>@drug.Price</td>
        </tr>
    </table>
</div>
<br />
<div class="row">
    <div class="col-md-4">
        <div class="form-group">
            <input type="button" class="btn btn-primary" @onclick="@Delete" value="Delete" />
            <input type="button" class="btn" @onclick="@Cancel" value="Cancel" />
        </div>
    </div>
</div>
@code {
    [Parameter]
    public string Id { get; set; }
    DrugsViewModel drug = new DrugsViewModel();
    protected override async Task OnInitializedAsync()
    {
        drug = await Http.GetFromJsonAsync<DrugsViewModel>("https://localhost:7260/api/v1/Drugs/" + Id);
    }
    protected async Task Delete()
    {
        var response = await Http.DeleteAsync("https://localhost:7260/api/v1/Drugs/" + Id);

        if (response.IsSuccessStatusCode)
        {
            await JsRuntime.InvokeVoidAsync("alert", "Deleted Successfully!");
            NavigationManager.NavigateTo("druglist");
        }
    }
    void Cancel()
    {
        NavigationManager.NavigateTo("druglist");
    }
}