@page "/doctoroverview"
<h3>DoctorOverview</h3>

@if (Doctors == null)
{
        <p><em>Loading...</em></p>
}
else
{
        <table class="table table-light">
            <thead class="table-primary"> 
                <th>Doctor Id</th>
                <th>CNP</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Specializations</th>
                <th>Cabinet</th>
            </thead>
            <tbody>
            @foreach (var doctor in Doctors)
            {
                   <tr>
                    <td>@doctor.Id</td>
                    <td>@doctor.CNP</td>
                    <td>@doctor.FirstName</td>
                    <td>@doctor.LastName</td>
                    <td>@doctor.Email</td>
                    <td>
                    @foreach (var specialization in @doctor.Specializations)
                    {
                        <p>@specialization.SpecializationName</p>
                    }
                    </td>
                    <td>@doctor.Cabinet</td>
                    <td>
                        <form method="post" asp-page-handler="DoctorCabinet">
                            <label for="cabinets"> New Cabinet:</label>
                            <input type="hidden" name="doctorId" value="@doctor.Id">
                            <select id="cabinets" name="cabinets">
                                @foreach (var cabinet in Cabinets)
                                {
                                    <option>
                                        <p>@cabinet.Id </p>
                                        <p>@cabinet.Address </p>                                        
                                    </option>
                                }
                            </select>
                            <input type="submit" value="Submit" >
                        </form>
                    </td>
                   </tr>

            }
            </tbody>


        </table>
}