@page "/editdoctor/{Id}"
@using MedHub.UI.Pages.Models;
@inject HttpClient Http
@inject NavigationManager NavigationManager
@inject IJSRuntime JsRuntime
<h2>Edit Doctor</h2>

<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label for="PersonalIdentificationNumber"> Personal Identification Number *</label>
            <input form="PersonalIdentificationNumber" class="form-control" @bind="@doctor.CNP" />
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label for="FirstName"> First Name *</label>
            <input form="FirstName" class="form-control" @bind="@doctor.FirstName" />
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label for="LastName"> Last Name *</label>
            <input form="LastName" class="form-control" @bind="@doctor.LastName" />
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label for="Email"> Email *</label>
            <input form="Email" class="form-control" @bind="@doctor.Email" />
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label for="PhoneNumber"> Phone Number *</label>
            <input form="PhoneNumber" class="form-control" @bind="@doctor.PhoneNumber" />
        </div>
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-4">
        <div class="form-group">
            <input type="button" class="btn btn-primary" @onclick="@Save" value="Save" />
            <input type="button" class="btn" @onclick="@Cancel" value="Cancel" />
        </div>
    </div>
</div>
@code {
    [Parameter]
    public string Id { get; set; }
    DoctorViewModel doctor = new DoctorViewModel();
    protected override async Task OnInitializedAsync()
    {
        doctor = await Http.GetFromJsonAsync<DoctorViewModel>("https://localhost:7260/api/v1/Doctors/" + Id);
    }
    protected async Task Save()
    {
        var response = await Http.PatchAsJsonAsync("https://localhost:7260/api/v1/Doctors/" + Id, @doctor);

        if (response.IsSuccessStatusCode)
        {
            await JsRuntime.InvokeVoidAsync("alert", "Updated Successfully!");
            NavigationManager.NavigateTo("doctorlist");
        }
    }
    void Cancel()
    {
        NavigationManager.NavigateTo("doctorlist");
    }
}