@page "/editdrug/{Id}"
@using MedHub.UI.Pages.Models;
@inject HttpClient Http
@inject NavigationManager NavigationManager
@inject IJSRuntime JsRuntime
<h2>Edit Drug</h2>
<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label for="Name"> Name *</label>
            <input form="Name" class="form-control" @bind="@drug.Name" />
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label for="Description"> Description *</label>
            <input form="Description" class="form-control" @bind="@drug.Description" />
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label for="Price"> Price *</label>
            <input form="Price" class="form-control" @bind="@drug.Price" />
        </div>
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-4">
        <div class="form-group">
            <input type="button" class="btn btn-primary" @onclick="@Save" value="Save" />
            <input type="button" class="btn" @onclick="@Cancel" value="Cancel" />
        </div>
    </div>
</div>
@code {
    [Parameter]
    public string Id { get; set; }
    DrugsViewModel drug = new DrugsViewModel();
    protected override async Task OnInitializedAsync()
    {
        drug = await Http.GetFromJsonAsync<DrugsViewModel>("https://localhost:7260/api/v1/Drugs/" + Id);
    }
    protected async Task Save()
    {
        var response = await Http.PatchAsJsonAsync("https://localhost:7260/api/v1/Drugs/" + Id, @drug);

        if (response.IsSuccessStatusCode)
        {
            await JsRuntime.InvokeVoidAsync("alert", "Updated Successfully!");
            NavigationManager.NavigateTo("druglist");
        }
    }
    void Cancel()
    {
        NavigationManager.NavigateTo("druglist");
    }
}